<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content="Plugin Editor de cursos Uniminuto - Moodle 4.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{{title_page}}}</title>
    <link rel="shortcut icon" href="{{{path_base}}}/pix/favicon.ico" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
    <!--begin::Vendor Stylesheets(used for this page only)-->
    {{#css_stylesheet_vendor}}<link rel="stylesheet" type="text/css" href="{{{url_css}}}" />{{/css_stylesheet_vendor}}
    <!--end::Vendor Stylesheets-->
    <!-- Global Stylesheets Bundle(mandatory for all pages) -->
    <link rel="stylesheet" type="text/css" href="{{{path_base}}}/css/plugins/plugins.bundle.css" />
    <link rel="stylesheet" type="text/css" href="{{{path_base}}}/css/base/style.bundle.css" />
    {{#css_stylesheet}}<link rel="stylesheet" type="text/css" href="{{{url_css}}}" />{{/css_stylesheet}}
</head>